@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$white-ter: #f3f5fa;
$cyan: #3c80f9;
$blue: #092962;
$grey-1: #586577;
$grey-2: #6577a2;
$grey-3: #d0d7e8;
$grey-4: #b4c1db;
$grey-5: #dde2ed;
$black-1: #262626;
// Add pink and its invert
// Update the sans-serif font family
$button-padding-vertical: 10px;
$button-padding-horizontal: 22px;
// 3. Set the derived variables
// Use the new pink as the primary color
$navbar-item-img-max-height: 3.5rem;
// 4. Import the rest of Bulma

@import '../node_modules/bulma/bulma';
@import '../node_modules/bulma-pricingtable/src/sass/index';

body {
  font-family: 'Roboto', sans-serif;

  .title.is-3 {
    color: $cyan;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h2.title {
    color: $blue;
    font-size: 32px;
    font-weight: 700;
  }

  .button {
    border-radius: 0;
    font-size: 15px;
    height: auto;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 10px 45px 0 rgba(0, 14, 49, 0.24);
    }
  }
  .card {
    background: $white-ter;
    box-shadow: none;
    height: 100%;
  }
  .card-content {
    padding: 36px;

    .title {
      color: $blue;
    }

    p {
      color: $grey-1;
      font-size: 15px;
      line-height: 150%;
    }

    i {
      font-size: 64px;
      color: $cyan;
      display: block;
    }
  }
}

.fa-phone {
  transform: rotate(90deg);
  margin-right: 10px;
}
.navbar {
  .navbar-brand {
    padding: 10px 0;
  }
  .navbar-menu {
    margin-left: -12px;
  }

  .navbar-item {
    font-size: 15px;
    color: $blue;
    transition-duration: 0.3s;
  }

  .region {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 30px;

    .region-header {
      display: block;
      width: 100%;
      color: $grey-1;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .region-body {
      display: flex;
      align-items: flex-start;
      .icon {
        height: 18px;
      }
    }
  }

  .navbar-item + .navbar-item {
    margin-left: 20px;
  }
}

.navbar:last-of-type {
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 6px 16px rgba(34, 34, 34, 0.15);

  a.navbar-item:hover {
    background-color: $cyan !important;
    color: #fff;
  }
}

.hero {
  .hero-image {
    // background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: -48px 0;
  }

  span {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
    font-weight: 700;
  }

  .title {
    margin-top: 5px;
    font-size: 96px;
    line-height: 100%;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 16px;
  }

  .subtitle {
    font-size: 36px;
    display: inline-block;
    font-weight: 700;
  }
}

.calculator {
  .title {
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .calc-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .label {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $grey-2;
  }

  .field {
    width: 48%;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .input {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 20px 25px;
    color: $blue;
    font-weight: 500;
  }

  .select {
    height: auto;
    width: 100%;
  }
  select {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 20px 25px;
    color: $blue;
    font-weight: 500;
    width: 100%;
  }

  span.active-placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: $grey-1;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    font-weight: 400;
  }

  .slider {
    position: absolute;
    width: 100%;
    bottom: 0;
    -webkit-appearance: none !important;
    height: 3px;
    background-color: $cyan;

    &:focus {
      outline: none;
    }
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: $cyan;
    cursor: pointer;

    &:hover {
      background: $blue;
    }
  }

  .card {
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .button {
        padding: 15px 22px;
      }
    }

    span {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: $grey-2;
    }
    .number-attention {
      display: block;
      color: $blue;
      font-size: 36px;
      font-weight: 900;
    }
  }
}

.insurance {
  .card {
    transition: 0.4s ease-in-out;

    .card-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      p {
        margin-bottom: auto;
      }

      .details {
        margin-top: 24px;
        padding: 8px;
        background-color: $grey-3;
        transition: 0.2s ease-in-out;

        i {
          font-size: 13px;
          color: $blue;
          transition: 0.2s ease-in-out;
        }

        .icon {
          margin-right: 4px;
        }

        span {
          font-size: 13px;
        }

        &:hover {
          background-color: $cyan;
          color: #fff;

          i {
            color: #fff;
          }
        }
      }

      .button {
        margin-top: 12px;
      }
    }

    .icon {
      height: auto;
      width: auto;
      margin-right: 28px;
    }

    img {
      margin: 0 auto 32px;
    }

    .title.is-4 {
      display: flex;
      align-items: center;
    }

    .card-header {
      box-shadow: none;
      display: flex;
      margin-bottom: 32px;
    }
  }
}

.savings {
  .pricing-table {
    .pricing-plan {
      border: none;
      .plan-header {
        color: $blue;
      }
    }
    .pricing-plan.is-active {
      border: none;
    }
    .plan-items {
      .plan-item {
        color: $grey-1;
        border-image-width: 0;
        border: none;
        box-shadow: none;
      }
    }
  }

  .plan-item:nth-child(even) {
    background: none;
  }
}

.call-back {
  background: $white-ter;
}

@media screen and (min-width: 1472px) {
  .container {
    max-width: 1152px;
  }
}
