@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$white-ter: #f3f5fa;
$cyan: #3c80f9;
$blue: #092962;
$grey-1: #586577;
$grey-2: #6577a2;
$grey-3: #d0d7e8;
$grey-4: #b4c1db;
$grey-5: #dde2ed;
$black-1: #262626;
// Add pink and its invert
// Update the sans-serif font family
$button-padding-vertical: 10px;
$button-padding-horizontal: 22px;
// 3. Set the derived variables
// Use the new pink as the primary color
$navbar-item-img-max-height: 3.5rem;
// 4. Import the rest of Bulma

@import '../node_modules/bulma/bulma';
@import '../node_modules/bulma-pricingtable/src/sass/index';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;

  .title.is-3 {
    color: $cyan;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h2.title {
    color: $blue;
    font-size: 32px;
    font-weight: 700;
  }

  .button {
    border-radius: 0;
    font-size: 15px;
    height: auto;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 10px 45px 0 rgba(0, 14, 49, 0.24);
    }
  }
  .card {
    background: $white-ter;
    box-shadow: none;
    height: 100%;
  }
  .card-content {
    padding: 36px;

    .title {
      color: $blue;
    }

    p {
      color: $grey-2;
      font-size: 15px;
      line-height: 150%;
    }

    i {
      font-size: 64px;
      color: $cyan;
      display: block;
    }
  }
}

.fa-phone {
  transform: rotate(90deg);
  margin-right: 10px;
}
.navbar {
  .navbar-brand {
    padding: 10px 0;
    align-items: center;
    .navbar-burger {
      width: 70px;
    }
    span {
      height: 3px;
      color: $cyan;
    }
  }
  .navbar-menu {
    margin-left: -12px;
  }

  .navbar-item {
    font-size: 15px;
    color: $blue;
    transition-duration: 0.3s;
  }

  .region {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 60px;

    .region-header {
      display: block;
      width: 100%;
      color: $grey-2;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .region-body {
      display: flex;
      align-items: flex-start;
      .icon {
        height: 18px;
      }
    }
  }

  .navbar-item + .navbar-item {
    margin-left: 20px;
  }
}

.navbar:last-of-type {
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 6px 16px rgba(9, 41, 98, 0.1);

  a.navbar-item:hover {
    background-color: $cyan !important;
    color: #fff;
  }
}

.hero {
  position: relative;

  .hero-image {
    position: absolute;
    left: 0;
    img {
      height: 433px;
      object-fit: cover;
      width: 100%;
      z-index: 0;
    }
  }
  .hero-image::after {
    position: absolute;
    background-image: linear-gradient(to right, #092962, transparent 100%);
    top: 0;
    left: 0;
    height: 433px;
    width: 100%;
    content: '';
    z-index: 0;
  }

  span {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    display: block;
    font-weight: 700;
  }

  .title {
    margin-top: 5px;
    font-size: 96px;
    line-height: 100%;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 16px;
  }

  .subtitle {
    font-size: 36px;
    display: inline-block;
    font-weight: 700;
  }
}

.calculator {
  .title {
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .calc-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .label {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $grey-2;
  }

  .field {
    width: 48%;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .input {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 20px 25px;
    color: $blue;
    font-weight: 500;
  }

  .select {
    height: auto;
    width: 100%;
  }
  select {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 20px 25px;
    color: $blue;
    font-weight: 500;
    width: 100%;
  }

  span.active-placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: $grey-2;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    font-weight: 400;
  }

  .slider {
    position: absolute;
    width: 100%;
    bottom: 0;
    -webkit-appearance: none !important;
    height: 3px;
    background-color: $cyan;

    &:focus {
      outline: none;
    }
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: $cyan;
    cursor: pointer;

    &:hover {
      background: $blue;
    }
  }

  .card {
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .button {
        padding: 15px 22px;
      }
    }

    span {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: $grey-2;
    }
    .number-attention {
      display: block;
      color: $blue;
      font-size: 36px;
      font-weight: 900;
    }
  }
}

.insurance {
  .card {
    transition: 0.4s ease-in-out;

    .card-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      img {
        width: 60px;
        color: $cyan;
      }

      p {
        margin-bottom: auto;
      }

      .details {
        margin-top: 24px;
        padding: 8px;
        background-color: $grey-3;
        transition: 0.2s ease-in-out;

        i {
          font-size: 13px;
          color: $blue;
          transition: 0.2s ease-in-out;
        }

        .icon {
          margin-right: 4px;
        }

        span {
          font-size: 13px;
        }

        &:hover {
          background-color: $cyan;
          color: #fff;

          i {
            color: #fff;
          }
        }
      }

      .button {
        margin-top: 12px;
      }
    }

    .icon {
      height: auto;
      width: auto;
      margin-right: 28px;
    }

    img {
      margin: 0 auto 32px;
    }

    .title.is-4 {
      display: flex;
      align-items: center;
    }

    .card-header {
      box-shadow: none;
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      min-height: 54px;

      figure.image {
        display: flex;
        align-items: center;
        margin-right: 18px;

        img {
          margin: 0;
        }
      }
    }
  }
}

.savings {
  .button:hover {
    background-color: $cyan !important;
  }
  .pricing-table {
    .pricing-plan {
      padding-bottom: 18px;
      .plan-header {
        color: $blue;
      }
    }
    .pricing-plan.is-active {
      border: none;
    }
    .plan-items {
      .plan-item {
        color: $grey-2;
        border-image-width: 0;
        border: none;
        box-shadow: none;
      }
    }
  }

  .plan-item:nth-child(even) {
    background: none;
  }
}

.call-back {
  background: $white-ter;
  h2.title {
    margin-bottom: 48px;
  }
  p {
    font-size: 16px;
    color: $blue;
  }

  .box {
    background: none;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: flex-start;
    height: 100%;

    .manager-call-to-action {
      display: block;
      width: 100%;
    }
    .manager-info {
      margin-left: 24px;
    }

    .phone-number {
      color: $cyan;
      font-weight: bold;
      font-size: 28px;
    }

    .field {
      margin-top: 12px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    .control {
      width: 49%;
      text-align: center;
    }
    input {
      height: 44px;
      border-radius: 0;
      border: none;
      border-left: 4px solid $cyan;
      box-shadow: none;
      box-shadow: 0 4px 6px 0 rgba(0, 14, 49, 0.1);
    }

    .button {
      width: 100%;
    }

    span {
      font-size: 14px;
      color: $grey-2;
    }
  }

  .work-hours {
    display: flex;

    p:first-of-type {
      margin-right: 15px;
      color: $grey-2;
    }
  }

  .manager-photo {
    border-radius: 50%;
    object-fit: cover;
    height: 90px;
    width: 90px;
  }
}

.feedback {
  .siema {
    cursor: default !important;
    margin: -12px;
  }
  .card-content {
    i,
    span {
      font-size: 18px;
      color: $blue;
    }
    .icon {
      height: auto;
      width: auto;
      margin-right: 12px;
    }
    .open-original {
      display: flex;
      align-items: flex-start;
      padding: 12px;
      background: $grey-3;
      width: auto;

      i,
      span {
        color: $blue;
      }
    }
    p.feedback-content {
      font-size: 14px;
      margin-bottom: 24px;
      margin-top: 24px;
    }
  }
}

.documents {
  .box {
    box-shadow: none;
    padding: 0;
  }
  a:hover {
    border: none;
    box-shadow: none;

    span {
      color: $cyan;
    }
  }
  a:focus {
    box-shadow: none;
    outline: none;
  }

  span {
    color: $blue;
  }
}

.faq {
  .questions-contacts {
    height: auto;
    background: none;

    .card-content {
      padding-top: 0;
    }

    p {
      color: $blue;
      font-size: 18px;
    }

    a {
      font-size: 28px;
      color: $cyan;
      font-weight: bold;
      display: block;
      width: 100%;
    }

    span {
      font-size: 14px;
      color: $grey-2;
    }
  }

  .accordion-header,
  .accordion-body {
    background: white;
  }

  .accordion__item + .accordion__item {
    margin-top: 12px;
  }

  .accordion-header {
    padding: 1.5em 1.5em;
    color: $blue;
    cursor: pointer;
    transition: all 0.3s;
    background-color: $white-ter;
  }

  .accordion-header:hover {
    background: $cyan;
    position: relative;
    z-index: 5;
    color: #fff;
  }

  .accordion-body {
    background: #fff;
    color: $grey-2;
    display: none;
  }

  .accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: 14px;
    line-height: 150%;
  }

  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }

  .accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
  }

  .accordion__item > .accordion-header:after {
    content: '\f3d0';
    font-family: IonIcons;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transform: rotate(0deg);
  }

  .accordion__item.active > .accordion-header:after {
    transform: rotate(-180deg);
  }

  .accordion__item.active .accordion-header {
    background: $blue;
    color: #fff;
  }

  .accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: black;
  }
}

.address {
  .card-address {
    position: absolute;
    top: 42px;
    right: 0;
    height: calc(100% - 42px);
    width: 40%;

    .card-content {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between !important;

      span {
        color: $grey-2;
        font-size: 14px;
      }

      p,
      a {
        color: $blue;
        font-size: 16px;
      }
    }
  }

  .address-block {
    display: flex;
    flex-direction: column;
  }
}

footer.footer {
  padding: 3rem 1.5rem;
  background: $white-ter;
  img {
    width: 100%;
  }
  p {
    color: $grey-2;
    font-size: 14px;
  }
  p + p {
    margin-top: 12px;
  }
}

.modal {
  .modal-card {
    max-width: 400px;
  }
  .modal-card-body {
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .button {
      width: 100%;
    }
  }

  p.title {
    font-size: 24px;
    color: $blue;
    text-align: center;
    margin-bottom: 36px;
  }

  input {
    width: 100%;
    height: 44px;
    box-shadow: none;
    border-radius: 0;
  }

  .control + .control {
    margin-top: 12px;
  }
  .success-message {
    text-align: center;
  }

  .success-message__icon {
    max-width: 75px;
    fill: $cyan;
    margin-bottom: 18px;
  }

  span {
    color: $grey-2;
    display: block;
    margin-top: -32px;
    font-size: 16px;
  }
}

.credit {
  h2.title {
    margin-bottom: 48px;
  }
  h3.title {
    color: $blue;
    font-size: 24px;
    margin-bottom: 8px;
  }
  h2.title.is-3 {
    margin-bottom: 24px;
  }
  .card {
    background: none;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 0;
  }

  .icon {
    height: auto;
    width: auto;
    margin-bottom: 24px;
  }

  .step {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .step-number {
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $cyan;
      border: 1px solid $grey-3;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      margin-right: 18px;
    }
    .step-title {
      font-size: 18px;
      color: $blue;
    }
    .step-details {
      font-size: 14px;
      color: $grey-2;
    }
  }
  ol {
    padding-left: 48px;
    margin-top: 12px;
  }

  ul {
    color: $blue;
    margin-top: 24px;
    margin-bottom: 64px;
    li + li {
      margin-top: 18px;
    }
    .parametr {
      color: $grey-2;
    }
    .icon {
      margin-right: 8px;
      margin-bottom: 0;
    }
    i {
      color: $cyan;
    }
  }
}

@media screen and (min-width: 1472px) {
  .container {
    max-width: 1152px;
  }
}
@media screen and (max-width: 769px) {
  .navbar-item {
    margin-left: 20px;
  }
  .card-content {
    padding: 18px !important;
  }
  .calc-fields {
    .field {
      margin-top: 18px;
    }
  }

  .faq {
    .phone {
      font-size: 20px !important;
    }
  }
  .call-back {
    .manager-photo {
      height: 70px;
      width: 70px;
      margin: 0px auto 24px;
    }
    .manager-info {
      margin: 0 auto;
    }
    .field {
      display: flex;
      flex-wrap: wrap;
      .control {
        width: 100%;
        margin-bottom: 18px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .credit {
    .card-content {
      padding: 0 !important;
    }
  }
  .hero-body {
    h1.title {
      font-size: 72px;
    }
  }
  .address {
    .card-address {
      position: static;
      width: 100%;
      .address-block {
        margin-bottom: 24px;
      }
    }
  }
  .calculator {
    .number-attention {
      margin-bottom: 24px;
    }

    .calc-fields {
      .field {
        width: 100%;
        margin-bottom: 12px;
      }
    }
  }
}
